.blogitem {
width: 500px;
background-color: white;
box-shadow: -1px 6px 18px 0px #000000;
margin-bottom: 20px;
}

.top {
width: 500px;
height: auto;
}

.bottom {
width: 500px;
max-height: 40px;
overflow: hidden;
transition: 1s;
}

.bottom:hover {
max-height: 1000px;
}

.top .title {
font-size: 40px;
}

.top .voorinformatie {
font-weight: bold;
}

.bottom .leesverder {
color: green;
text-decoration: underline;
}



